@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #f5f6f8;
  font-family: "roboto", sans-serif !important;
  height: 100%;
  overflow: hidden;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
